<!-- Jumbotron : Welcome message -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">delivers select</h1>
    <p>With ChronoShare, you can make an order by only 3 simple steps. Here is the magic happen place.</p>
  </div>
</div> <!-- Jumbotrong -->

<!-- Articles -->
<div class="container">
  <div class="row">
      <fieldset>
        <div class="col-md-4">

          <!-- Enter Your Address -->
          <h2>Look through the list we provide and select the order you like</h2>
        </div>
        <div class="col-md-4">
          <h2>Click Yes Button</h2>
          <p>Now,if you decided the order you like. The final step is clicking "YES" Button</p>
        </div>
      </fieldset>

    <div>
    {{# each orders }}
      <a class="list-group-item">

            <article class="order">
              <div><b>Item Info</b></div>
              <p class="list-group-item-text">
                <div>OrderID: {{ this._id }} </div>
                <div>Item: {{ this.iteminfo.item }}</div>
                <div>Price: {{ this.iteminfo.price }}</div>
                <div>Store Location: {{ this.iteminfo.store_location }}</div>
                <div>Store ZIP: {{ this.iteminfo.store_zip }}</div>
              <div><b>Receiever Info</b></div>
                <div>Receiver Address: {{ this.receiversinfo.adds }}</div>
                <div>Receiver ZIP: {{ this.receiversinfo.zip }}</div>
              </p>
            </article>

        <form role="form" action="/users/delivers_select" method="post" id="selectforms">
          <fieldset>

              <div class="input-group">
                <input type="hidden" name="orderID" value={{this._id}} />
              </div>

              <input type='submit' value='I CHOSE YOU' class="btn btn-lg btn-primary">
          </fieldset>
        </form>
      </a>
    
    {{/each}}
      
    </div>
  </div>
</div>

