<!-- Jumbotron : Welcome message -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">delivers select</h1>
    <p>With ChronoShare, you can make an order by only 3 simple steps. Here is the magic happen place.</p>
  </div>
</div> <!-- Jumbotrong -->

<!-- Articles -->
<div class="container">
  <div class="row">
    <form role="form" action="/users/receivers" method="post">
      <fieldset>
        <div class="col-md-4">

          <!-- Enter Your Address -->
          <h2>Which order would you like to deliver?</h2>
          <div class="input-group">
            <span class="input-group-addon">Order ID</span>
            <input type="text" class="form-control" placeholder="please enter the order ID you selected" name="orderID" required>
          </div>
        </div>

        <div>
            {{# each orders }}
                <article class="order">
                  <div>Item Info</div>
                    <div>OrderID: {{ this._id }}</div>
                    <div>Item: {{ this.iteminfo.item }}</div>
                    <div>Price: {{ this.iteminfo.price }}</div>
                    <div>Store Location: {{ this.iteminfo.store_location }}</div>
                    <div>Store ZIP: {{ this.iteminfo.store_zip }}</div>
                  <div>Receiever Info</div>
                    <div>Receiver Address: {{ this.receiversinfo.adds }}</div>
                    <div>Receiver ZIP: {{ this.receiversinfo.zip }}</div>
                </article>
            {{/each}}
        </div>


        <div class="col-md-4">
          <h2>Click Yes Button</h2>
          <p>Now, it's time to double check your order. The final step is clicking "YES" Button</p>
          <input type='submit' value='Yes' class="btn btn-lg btn-primary">
        </div>
      </fieldset>
    </form>



  </div>


</div>