<h3 id="orderdetails_head">Order Details</h3>
<p>The content displayed below is the details of your orders...</p>

{{#with order}}
<div  id="orderdetails_table">	
	<div class="row">
		<div class="col-md-12">	
			<h4 id="table_tittle">Order ID #: {{_id}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 id="table_tittle">Delivery Address: </h4>
			<div id="orderdetails">
				<p>{{receiversinfo.adds}}</p> 
				<p>ZIP {{receiversinfo.zip}}</p>
			</div>
		</div>
	</div>
	<div class="row" id="orderdetails_table_item">
		<div class="col-md-6">
			<h4 id="table_tittle">Item Bought: </h4>
			<div id="orderdetails">
				<p>{{iteminfo.item}}</p>
				<h5>Price: ${{iteminfo.price}}</h5> 
			</div>
		</div>
		<div class="col-md-6">
			<h4 id="table_tittle">Store Location: </h4>
			<div id="orderdetails">
				<p>{{iteminfo.store_location}}</p>
				<p>ZIP {{iteminfo.store_zip}}</p>
			</div>
		</div>
	</div>
</div>
{{/with}}
	<!-- change this part according to status -->
{{#if status0}}
	<div class="row">
		<div class="col-md-12">
			<h4 id="table_tittle">Status: Placed</h4>
			<div id="orderdetails">
				<p>Your order has just placed. 
					No one has picked up your order yet...</p> 
				<a href="/orders/status_change?objectId={{order._id}}&amp;newStatus=4" class="btn btn-primary" role="button">Cancel the order</a>
			</div>
		</div>
	</div>
	{{else if status1}}
	<div class="row">
		<div class="col-md-12">
			<h4 id="table_tittle">Status: Picked Up</h4>
			<div id="orderdetails">
				<p>User {{deliversinfo.email}} has picked up your order...</p> 
				<p>Please be patient, your item will be with you soon!</p>
			</div>
		</div>
	</div>
	{{else if status2}}
	<div class="row">
		<div class="col-md-12">
			<h4 id="table_tittle">Status: Delivered</h4>
			<div id="orderdetails">
				<p>User {{deliversinfo.email}} has delivered the item...</p>
				<a href="/orders/status_change?objectId={{order._id}}&amp;newStatus=3" class="btn btn-primary" role="button">I have received my item</a> 
			</div>
		</div>
	</div>
	{{else if status3}}
	<div class="row">
		<div class="col-md-12">
			<h4 id="table_tittle">Status: Finished</h4>
			<div id="orderdetails">
				<p>Item is delivered by user {{deliversinfo.email}}</p> 
				<p>Item is reported to be received by user {{email}}</p>
			</div>
		</div>
	</div>
	{{else}}
	<div class="row">
		<div class="col-md-12">
			<h4 id="table_tittle">Status: Canceled</h4>
			<div id="orderdetails">
				<p>The order has been canceled</p> 
			</div>
		</div>
	</div>
{{/if}}
